<!--

    Copyright 2019 XEBIALABS

    Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

    The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

-->

<div data-ng-controller="ispwServices.ISPWTileController as ispwCtrl" class="dashboard-tile">

    <div class="row" data-ng-if="ispwCtrl.counts && ispwCtrl.totalCount > 0">
        <div class="col-md-7">
            <div class="highcharts-tile" donut-chart data="ispwCtrl.counts" options="ispwCtrl.chartOptions"></div>
        </div>
        <div class="col-md-5">
            <ul>
                <li class="row" ng-repeat="status in ['completed', 'failed', 'progress', 'planned', 'skipped']">
                    <span class="col-sm-1"><span class="circle status-{{status}}" ></span></span>
                    <span class="col-sm-1">{{ ispwCtrl.counts[status] }}</span>
                    <span class="col-sm-6 pls status-message">{{ status }}</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="no-items-message" data-ng-if="ispwCtrl.totalCount === 0">
        There are no ISPW tasks in this {{ ispwCtrl.release.status === 'TEMPLATE' ? 'template' : 'release' }}.
    </div>
</div>
